//PRIMARY COLORS
$Card-Black:#323232;
$Card-Blue:#0095FF;
$Silver:#AFAFAF;
$White:#FFFFFF;

//SECONDARY COLORS
$Card-DarkBlack:#000000;
$Card-DarkBlue:#0065AD;
$Mercury:#E1E1E1;
$Alabaster:#FAFAFA;
$Black:#111111;
$Semi-Black:#2a2a2a;
$Orange:#ff7f35;
$Semi-orange:#ff9f68;
$Light-orange:#ffbf9b;
$Background:#efefef;
$Homepurple:#6758e3;
$Homeblue:#495a7e ;